@import "tailwindcss";

body {
  display: flex;
  justify-content: center;
  background-image:
    linear-gradient(to right, rgba(125, 125, 125, 0.28) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(125, 125, 125, 0.28) 1px, transparent 1px);
  min-height: 100dvh;
  width: 100%;
  background-size: 40px 40px;
  background-position:
    0 0,
    0 0,
    20px 20px,
    20px 20px;
  color: white;
  @apply bg-[#0f0f0f] animate-none md:bg-[#1a1a1a] backdrop-blur-2xl sm:backdrop-blur-none;
  animation: backgroundAnimation 4s linear infinite;
}

.scrollbar-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
/* .headerBtn {
  @apply 
} */

@keyframes backgroundAnimation {
  100% {
    background-position:
      40px 0,
      40px 0,
      80px 20px,
      80px 200px;
  }
}

/* responsive desing */
/* md-w-full md:grid md:grid-cols-2 md:place-items-center items-center md:gap-0 md:scroll gap-14 perspective-midrange */
